@model MusicSystem.Dtos.PurchaseDetailDto

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Editar compra</h1>


<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_Purchase" />

            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-warning">Regresar</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


