@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Bienvenidos a...   <strong> MusicSystem </strong></h1>
    <p class="display-7">Donde tienes tu musica favorita a solo un click </p>
</div>
